*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Navbar{
    height: 60px;
    padding: 20px;
    background-color: #fff;
    letter-spacing: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    padding: 10px;
}
.Navbar>span:hover{
    background-color: grey;
}
#br{
    margin-right: 55%;
}
#project,#about{
    margin-right:2%;
}
.architect{
    width:100%;
    display: block;
    position:relative;
}
.para{
    letter-spacing: 4px;
    color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.Br{
    background-color:grey;
    color: white;
}
.project-container{
    padding: 20px;
}
.row{
    margin: 0px 35px;
}
.container{
    width: 295px;
    position: relative;
    margin: 10px;
    display: inline-block;
}
img{
    width: 100%;
}
p{
    background-color: black;
    width: fit-content;
    color:white;
    position:absolute; 
    top: 0px;
    left: 0px;
}

